.active-link {
  background-color: #5c5959; 
}

footer.footer {
  padding: 0px 70px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.discord{
  color: white;
  font-size: 24px;
}

@media screen and (max-width: 920px) {
  nav {
    transition: 1s;
  }
  .active-link {
    background-color: transparent; 
  }
  .responsive-nav {
    transform: translateY(0);
  }
}

@media (max-width: 860px) {
  footer.footer {
    padding: 0px 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

}

@media (max-width: 600px) {
  div.plans {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-top: 60px;
  }
}
